.hero-background {
  
}
.hero-foreground {
  background-color: rgba(0,0,0, 0.6);
  margin-right: 0 !important;
}

.hero-foreground > div {

}

.hero-video, .hero-gif {
  width: 100%;
  height: 100%;
}

.hero-gif {
  position: relative;
  right: .65rem;
}

.welcome-message {
  color: $white;
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* Medium and up */
    @media screen and (min-width: 40em) {
      @extend .text-justify !optional;
    }
    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      
    }
    /* Small only */
    @media screen and (max-width: 39.9375em) {
      font-size: 2.75rem
    }
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* Medium and up */
    @media screen and (min-width: 40em) {
      @extend .text-justify !optional;
    }
    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {

    }
    /* Small only */
    @media screen and (max-width: 39.9375em) {
      font-size: 2.25rem
    }
  }
  p {
    border-top: 3px solid $white;
    padding-top: 1rem;
    margin-left: .5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0px;
    /* Medium and up */
    @media screen and (min-width: 40em) {
      @extend .text-justify !optional;
    }
  }
}

.welcome-social {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0px;
  color: $white;
  a:link {
    color: $white;
  }
  a:visited {
    color: $white;
  }
  a:hover {
    color: darken($white, 15%);
  }
  a:active {
    color: darken($white, 15%);
  }
}