<!-- off canvas title bar for small screens -->
<div class="title-bar show-for-small-only">
    <div class="title-bar-left">
    	<span class="title-bar-title"><a href ui-sref="app.home"><img src="https://s3.amazonaws.com/hiretyrone/tastemakers-hiretyrone30px.png" alt="tastemakers africa x hiretyrone.com"></a></span>
    </div>
    <div class="title-bar-right">
        <button class="menu-icon right-off-canvas-toggle" type="button"></button>
    </div>
</div>
<!-- end off canvas title bar for small screens -->

<!-- top bar for medium and large screens -->
<div class="top-bar show-for-medium">
    <div class="top-bar-left">
        <ul class="menu navigation-text">
            <li>
                <a href ui-sref="app.home"><img src="https://s3.amazonaws.com/hiretyrone/tastemakers-hiretyrone30px.png" alt="tastemakers africa x hiretyrone.com"></a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
    	<ul class="menu align-right navigation-text">
    		<li>
    			<a href ng-click="scrollTo('vision')">VISION</a>
    		</li>
    		<li>
    			<a href ng-click="scrollTo('passion')">PASSION</a>
    		</li>
    		<li>
    			<a href ng-click="scrollTo('collaboration')">COLLABORATION</a>
    		</li>
    		<li>
                <button class="menu-icon dark right-off-canvas-toggle" type="button"></button>
            </li>
    	</ul>
    </div>
</div>
<!-- end top bar for medium and large screens -->	